<div class="product__card" mat-ripple>
    <img src="https://cdn.shopify.com/s/files/1/1367/5207/files/PowerT-Shirt-GSNavy-A4A9Q-UB9P-0480_c7a809ee-152c-4f05-bbb4-ba55348cec9a_1920x.jpg"
        alt="" srcset="">
    <div class="p-2">
        <h3 class="font-medium">Tarjeta</h3>
        <p class="text-gray-500 text-sm line-clamp-1 ">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe veniam facere nobis assumenda tenetur quasi
            animi dolores atque! Provident asperiores et modi sunt? Cum sed, molestias laborum deleniti illum aliquam.
        </p>
        <p class="text-sm font-bold">US$192.99</p>
    </div>
</div>