<app-header-page title="Agregar Categoria" description="Registra una nueva categoria" btnTitle="Volver"
    pathname="/categories" />

<section>
    <form class="container space-y-4 w-full max-w-xl rounded-md shadow-xl pt-8 px-8 pb-6">
        <input placeholder="Nombre del producto"
            class="form--input" type="text">


        <textarea placeholder="Agregar una descripción"
            class="form--input" type="text"></textarea>

        <button style="box-shadow: none;" color="primary" mat-fab extended>
            Guardar categoria
        </button>
    </form>
</section>