<section>
    <form class="container space-y-4 w-full max-w-xl rounded-md shadow-xl pt-8 px-8 pb-6">
        <input placeholder="Buscar producto"
            class="form--input" type="text">


        <input placeholder="Buscar producto"
            class="form--input" type="text">


        <input placeholder="Buscar producto"
            class="form--input" type="text">


        <input placeholder="Buscar producto"
            class="form--input" type="text">


        <input placeholder="Buscar producto"
            class="form--input" type="text">


        <input placeholder="Buscar producto"
            class="form--input" type="text">

        <button style="box-shadow: none;" color="primary" mat-fab extended>
            Guardar producto
        </button>
    </form>
</section>