<app-header-page title="Categorias" description="Gestion de categorias para los productos" btnTitle="Agregar Categoria"
    pathname="/categories/new" />

<section class="pt-8">
    <div class="container">

        @if( categoriesService.isLoading() ){
            <div class="flex flex-col items-center justify-center">

                <mat-spinner diameter="50" strokeWidth="3" color="primary"></mat-spinner>
                <h3>Cargando...</h3>
                
            </div>
        
        }@else {
            <app-category-table [categories]="categoriesService.categories()"></app-category-table>
        }

    </div>
</section>